body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    width: 80%;
}

nav {
    border: black solid 3px;
    background-color: #e5e5e5;
    text-align: center;
}

h1{
  display: flex;
  justify-content: center;
}

footer {
    border-top: black solid 1px;
    text-align: center;
    margin-top: 3vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: 1vw;
    border-bottom: #ddd solid 1px;
}
